---
import Layout from '../layouts/Layout.astro';
import colors from '../assets/data.json'

import Header from '../components/header.astro';


// Optional: Define a type for the color data (if using TypeScript)
type ColorFamily = {
  [key: string]: string;
};

type Colors = {
  [key: string]: ColorFamily;
};

const colorData: Colors = colors;


---

<Layout>
	<div class="container mx-auto py-8 px-4">
		<Header/>
		<section class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-8">

			<!-- Loop through each color family -->
			{Object.entries(colorData).map(([familyName, familyColors]) => (
			<div class="p-4 bg-white bg-opacity-25 backdrop-blur-lg border border-white rounded-2xl">
				<h2 class=" font-bold mb-4 uppercase text-zinc-600 font-mono drop-shadow-sm">{familyName}</h2>
				<!-- Loop through each color in the family -->
				{Object.entries(familyColors).map(([key, hex]) => (
				<div style={`background-color: ${hex};`}
					class={`p-2 inline-flex justify-between items-center w-full cursor-pointer last:rounded-b-lg transform transition hover:scale-[1.02] ${
					['50', '100', '200'].includes(key) ? 'text-gray-700' : 'text-white'
				}`}
					x-data={`{ hex: '${hex}', copied: false }`}
					@click="navigator.clipboard.writeText(hex); copied = true; setTimeout(() => copied = false, 1000)"
				>
					<div class="flex flex-col gap-0">
					<p class="font-mono text-xs ">{key}</p>
					<p class="font-mono font-medium uppercase">{hex}</p>
					</div>
					<span class="text-xl font-mono uppercase" x-text="copied ? '&#9998;' : '&#10697;'"></span>
				</div>
				))}
			</div>
			))}
		</section>
	</div>
</Layout>
